@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #3870bb;
  --color-secondary: #062754;
  --shadow-main: rgba(0, 0, 0, 0.1) 0px 5px 25px 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2)
  );
}
